<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= Title %></h1>
    <form >
    <textarea name="Content" id="Content"><%= content %></textarea>
    <button type="button" onclick="()=>// Function for the submit action
         {
            const content = document.getElementById('Content').value;
            
        
            const requestData = { content};
        
            fetch('/edit', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(requestData)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Data submitted:', data);
            })
            .catch(error => {
                console.error('Error submitting data:', error);
            });
        }
        ">Save</button>

</form>

</body>
</html>